# Ignore node_modules directory
node_modules/

# Ignore database files
项目/dataset/
Xingyue/
XX/


# Ignore build output
dist/

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled binaries
*.exe
*.dll
*.tif
*.h5
# Ignore package-lock.json file
package-lock.json

# Ignore environment variables file
.env
